<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Recognition System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>


    <div class="logo_div">
        <p>Facial Recognition System <span>AI</span></p>
    </div>


    <div class="button-div-main">
        <a href="/auth/login"><button class="home_button">Admin Dashboard</button></a>
    </div>

    <div class="text_animation_block">
        <p id="text-display"></p>
    </div>

    <script src=""></script>
    <script src="{{ url_for('static', filename='js/typing_effect.js') }}"></script>
</body>

</html>